<div class="table-responsive">
  <table class="table table-bordered table-sm" id="pipelinesTable" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        {% block header %}
        <th class="col-1-big">ID</th>
        <th class="col-1-big">Git Tree</th>
        <th class="col-1">Commit</th>
        <th class="col-4">Version</th>
        {% include 'tables/head_pipeline_jobs.html' %}
        {% endblock %}
      </tr>
    </thead>
    <tbody>
     {% for pipeline in pipelines %}
     {% block row %}
     <tr class="d-flex">
       <td class="col-1-big">
           <a href="/pipeline/{{pipeline.pipeline_id}}">{{ pipeline.pipeline_id }}</a>

           {% if pipeline.report_exists %}
           <a href="/api/1/pipeline/{{ pipeline.pipeline_id }}/report">
               <i class="fas fa-envelope-open-text text-primary" title="Has reports"></i>
           </a>
           {% endif %}
           {% if pipeline.has_targeted_tests %}
           <i class="fas fa-bullseye text-success" title='Has targeted tests'></i>
           {% endif %}
           {% if pipeline.stats_has_issue_records %}
           <i class="fas fa-bug text-danger"></i>
           {% endif %}
           {% if pipeline.stats_has_issue_records_bot_generated %}
           <i class="fas fa-robot text-danger"></i>
           {% endif %}
       </td>
       <td class="col-1-big">{{ pipeline.gittree.name }}</td>
       <td class="col-1">{{ pipeline.commit_id | slice:"7"}}</td>
       <td class="col-4">
         {{ pipeline.kernel_version }}
         {% if show_badges is None or show_badges %}
           {% for record in pipeline.issue_records.all %}
             {% include 'issue_kind_badge.html' %}
           {% endfor %}
         {% endif %}
       </td>
       {% include 'tables/cell_pipeline_jobs.html' %}
     </tr>
     {% endblock %}
     {% endfor %}
    </tbody>
  </table>
</div>
