<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <title>{{ group|title }} Confidence</title>

  {% include 'styles.html' %}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    {% include 'sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          {% include 'search_bar.html' %}

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <h1 class="h3 mb-2">{{ group|title }} Stats

          {% load addstr %}
          {% include "search.html" with name="search" action="/confidence/"|addstr:group placeholder="Filter" clearhref="/confidence/"|addstr:group|addstr:"?days_ago="|addstr:since hidden_name="days_ago" hidden_value=since %}

          </h1>

          <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
              <i class="fas fa-history"></i>
                Since {{since}} days ago
                (
                {% with value="ever" name="Since ever" %}
                {% include 'confidence_time_filter.html' %}
                {% endwith %}

                {% with value="7" name="7 days" %}
                {% include 'confidence_time_filter.html' %}
                {% endwith %}

                {% with value="1" name="1 day" %}
                {% include 'confidence_time_filter.html' %}
                {% endwith %}
                )
            </div>
          </div>

          <div class="row">

          {% for item in map %}
            <div class="col-md-4">
            {% include 'web/confidence_column.html' %}
            </div>
          {% endfor %}

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      {% include 'footer.html' %}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

</body>

</html>
