<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


  <title>CKI - {{type|title}} </title>

  {% include 'styles.html' %}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    {% include 'sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          {% include 'search_bar.html' %}

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <h1 class="h3 mb-2">{{type|title}} -
              {% if type == 'host' %}
              {% include "link_beaker_host.html" %}
              {% else %}
              {{item.name}}
              {% endif %}
          </h1>

          <div class="row">
            <div class="col-xl-4 mb-2">
              <i class="fas fa-filter"></i>

              {% for result in results %}
              <a href="?result={{ result.name }}" aria-label="{{ result.name }}">
                  {{ result.name }}
              </a>
              {% endfor %}

              {% if result_filter %}
              - Showing only: {{ result_filter }}
              <a href="/details/{{type}}/{{item.id}}" title="Clear filter"> x </a>
              {% endif %}

            </div>
          </div>

          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#pipelines">Pipelines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#table">Results Summary by
              {% if type == 'test' %}
              Host
              {% elif type == 'host' %}
              Test
              {% endif %}
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="pipelines" class="tab-pane active">
              {% for run in runs %}
              <div class="card shadow mb-4">
                <div class="card-header py-3">

                <div class="row">
                  <div class="col">
                    <h5 class="m-0">Pipeline <a href="/pipeline/{{run.pipeline.pipeline_id}}">{{ run.pipeline.pipeline_id }}</a></h5>
                 </div>
                  <div class="col" align="right">
                    {% with pipeline=run.pipeline %}
                    {% include 'pipeline_details_header.html' %}
                    {% endwith %}
                 </div>
                </div>

                </div>
                <div class="card-body">
                    {% with test_jobs=run.tests %}
                      {% if type == 'test' %}
                      {% include 'tables/table_testrun_details_by_test.html' %}
                      {% elif type == 'host' %}
                      {% include 'tables/table_testrun_details_by_host.html' %}
                      {% endif %}
                    {% endwith %}
                </div>
              </div>
              {% endfor%}

              {% with paginator=runs %}
              {% include 'paginator.html' %}
              {% endwith %}

            </div>
            <div id="table" class="tab-pane">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-sm sortable" id="pipelinesTable" width="100%" cellspacing="0">
                      <thead>
                        <tr class="d-flex">
                          {% if type == 'test' %}
                          <th class="col-5">Host</th>
                          {% elif type == 'host' %}
                          <th class="col-5">Test</th>
                          {% endif %}
                          <th class="col-1">Total</th>
                          {% for result in results %}
                          <th class="col-1">{{ result.name }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% load getattribute %}
                        {% for item in table %}
                        <tr class="d-flex">
                          <td class="col-5">
                            {% if type == 'test' %}
                            {% include "link_beaker_host.html" with type="tasks" %}</a>
                            {% elif type == 'host' %}
                            {{item.name}}
                            {% endif %}
                          </td>
                          <td class="col-1">{{ item.total_runs }}</td>
                          {% for result in results %}
                          <td class="col-1">{{ item|getattribute:result.name }}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      {% include 'footer.html' %}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Sort tables -->
  <script src="/static/js/sorttable.js"></script>

</body>

</html>
