<!-- New Issue Record Modal -->
<script>
function new_issue_record_toggle_all_click() {
    let toggle = document.getElementById("issueRecordModalToggleAll");
    for (let box of document.querySelectorAll('.issueRecordModalPreselected')) {
        box.checked = toggle.checked;
    }
}
</script>
<div class="modal fade" id="issueRecordModal" tabindex="-1" role="dialog" aria-labelledby="issueRecordModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="issueRecordModalLabel">Add a Issue Record to Pipeline #{{ pipeline.pipeline_id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/pipeline/{{ pipeline.pipeline_id }}/issue" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="issueid">Issue Type</label>
            <select required="required" class="form-control" id="issue_id" name="issue_id">
            <option disabled selected>Select an option</option>
              {% for issue in issues %}
              <option value="{{ issue.id }}">{{ issue.kind.tag  }} | {{ issue.description }}</option>
              {% endfor %}
            </select>
            <div align="right"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#issueModal">Create new issue</a></div>
          </div>
          <div class="form-group">
            <label for="testTable">Faulty Test Runs (optional)</label>
            <div class="table-responsive">
              <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" id="issueRecordModalToggleAll" onclick="new_issue_record_toggle_all_click()" checked>
                    </th>
                    <th>Result</th>
                    <th>Status</th>
                    <th>Test</th>
                    <th>Arch</th>
                    <th>Beaker Task</th>
                    <th>Gitlab Job</th>
                  </tr>
                </thead>
                <tbody>
                  {% for testrun in failed_testruns %}
                  <tr class="{{ testrun.passed_style.cell }}">
                      <td>
                        <input type="checkbox" value="{{testrun.id}}" name="testrun_ids"
                          {% if not testrun.passed and not testrun.invalid_result and not testrun.issue_records.exists %}
                          checked class='issueRecordModalPreselected'
                          {% endif %}>
                      </td>
                      <td align="center" class="{{ testrun.passed_style.cell }}" title="{{testrun.beaker_result.name}}">
                        {{ testrun.passed_style.icon|safe }}
                        <i title="Waived test (this result does not affect overall test result)"  class="fas {% include 'waived_icon.html' with waived=testrun.waived %}"></i>
                        {% if testrun.issue_records.exists %}
                        <i title="This test was recorded as a issue." class="fas fa-bug text-danger"></i>
                        {% endif %}
                      </td>
                      <td>{{ testrun.beaker_status.name }}</td>
                      <td>{{ testrun.test.name }}</td>
                      <td>{{ testrun.kernel_arch.name }}</td>
                      <td>{% include "link_beaker_task.html" with test=testrun.beakertestrun %}</td>
                      <td>{% include "link_gitlab_job.html" with jid=testrun.beakertestrun.jid %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End New Issue Record Modal -->
