{% extends "base.html" %}

{% block content %}

{% if not emptypage %}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item"><a class="nav-link {% if group == "tested" %}active{% endif %}" href="tested?search={{ search }}">Tested</a></li>
    <li class="nav-item"><a class="nav-link {% if group == "skipped" %}active{% endif %}" href="skipped?search={{ search }}">Skipped</a></li>
    <li class="nav-item"><a class="nav-link {% if group == "missed" %}active{% endif %}" href="missed?search={{ search }}">Missed</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    {% if group == "skipped" %}
      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="mergeTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Patch Series</th>
              {% if showsubmitter %}
                <th>Submitter</th>
              {% endif %}
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for series in patchseries %}
            <tr>
                <td>{% include "link_patchwork_series.html" %}</td>
                {% if showsubmitter %}
                  <td><a href="/patches/submitter?search={{series.submitter.email}}">{{ series.submitter }}</a></td>
                {% endif %}
                <td>{{ series.submitted_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if group == "missed" %}
      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="mergeTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Patch Series</th>
              {% if showsubmitter %}
                <th>Submitter</th>
              {% endif %}
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% for series in patchseries %}
            <tr>
                <td>{% include "link_patchwork_series.html" %}</td>
                {% if showsubmitter %}
                  <td><a href="/patches/submitter?search={{series.submitter.email}}">{{ series.submitter }}</a></td>
                {% endif %}
                <td>{{ series.submitted_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if group == "tested" %}
      {% for series in patchseries %}
        {% include 'card_series_pipelines.html' with pipelines=series.pipelines %}
      {% endfor %}
    {% endif %}

    {% load addstr %}
    {% include 'paginator.html' with paginator=patchseries extra_arguments="&search="|addstr:search %}
  </div>
</div>

{% endif %}

{% endblock %}
