{% load getattribute %}
<div class="col-xl-{{ size|default:12 }}">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ plot.title|safe }}</h6>
    </div>
    <div class="card-body">
      <div class="chart-pie">
        <canvas id="{{ plot.element_id }}"></canvas>
      </div>
    </div>
  </div>
</div>

<script src="/static/vendor/chart.js/Chart.min.js"></script>
<script>
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

var ctx = document.getElementById("{{ plot.element_id }}");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
      labels: [{% for element in plot.values %}"{{ element|getattribute:plot.x_axis|date:'d-m-y' }}", {% endfor %}],
    datasets: [
    {% for y_axis in plot.y_axis %}
      {% for line in y_axis.lines %}
        {
            yAxisID: "{{ y_axis.id }}",
            label: "{{ line.label }}",
            lineTension: 0.3,
            backgroundColor: "{{ line.bg_color }}",
            borderColor: "{{ line.border_color }}",
            pointRadius: 3,
            pointBackgroundColor: "{{ line.border_color }}",
            pointBorderColor: "{{ line.border_color }}",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "{{ line.border_color }}",
            pointHoverBorderColor: "{{ line.border_color }}",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: [{% for element in plot.values %}{{ element|getattribute:line.value }}, {% endfor %}],
        },
      {% endfor %}
    {% endfor %}
    ],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [
        {% for axis in plot.y_axis %}
        {
        id: "{{ axis.id }}",
        position: "{{ axis.position }}",
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          callback: function(label, index, labels) {
              return "{{ axis.prepend }}"+label+"{{ axis.append }}";
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        },
        scaleLabel: {
          display: true,
          labelString: "{{ axis.label }}",}
        },
        {% endfor %}
      ],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
    }
  }
});
</script>
